body {
	/*font-family: 'Raleway', sans-serif;*/
}

/*header background #252A2B
  header color #929A9B*/
.header-wrapper {
	background-color: #252A2B;
}
.header-wrapper a {
	color: #929A9B;
}

#header-top {
	margin-bottom: 20px;
	border-bottom: solid 1px #929A9B;
}

#email-contact {
	padding: 10px 15px;
}
#email-contact svg {
	margin-right: 5px;
}

#home-main {
	margin-top: 15px;
	margin-bottom: 15px;
}

.block {
	/*-moz-box-shadow: 0px 0px 6px #bcb8b8;
  -webkit-box-shadow: 0px 0px 6px #bcb8b8;
  box-shadow: 0px 0px 6px #bcb8b8;*/
  padding-bottom: 15px;
  border-bottom: solid 1px #dedede;
  margin-bottom: 30px;
}
.block h2, .see-more {
	width: 100%;
}
.block h2 {
	color:  #394041;
	letter-spacing: .05em;
	padding-left: 15px;
}
.product-box {
	border: solid 1px #ddd;
	margin: 15px 15px;
	padding: 10px 0px 0px 0px;
}
.product-box h3 a {
	padding: 0 10px;
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 1.7rem;
	color: #394041;
	display: block;
}
.product-box h3 a:hover {
	text-decoration: none;
}
.product-box figure {
	margin-right: 0;
	margin-left: 0;
	padding: 0 15px;
}
.product-box figure .col-sm {
	padding: 0;
}
.price, .description, .see-more {
	padding: 0px 10px;
	width: 100%;
}
.price {
	background-color: #4dc7ec;
	color: #e7eff7;
	padding-top: 10px;
	padding-bottom: 10px;
}

.product-properties {
	background-color: #f5f5f5;
	border-top: solid 1px #dedede;
	width: 100%;
	margin: 0;
        font-size: 13px;
        font-weight: 500;
}
.product-properties span {
	border-right: solid 1px #dedede;
	padding: 10px 10px;
}
.product-properties span:last-child {
	border-right: none;
}

#features {
	/*border-top: solid 1px #ddd;*/
	border-bottom: solid 1px #ddd;
}
.feature-icon {
	color: #dadada;
	width: 118px;
  height: 118px;
  border-radius: 50%;
  text-align: center;
  line-height: 128px;
  display: inline-block;
  border: solid 4px #ddd;
  margin-bottom: 10px;
}
.feature-icon:hover {
	color: #000;
}

#features .col-sm {
	text-align: center;
}
#features h5 {
	text-transform: uppercase;
}

#main-nav {
	padding-bottom: 0px;
}
/*#navbarSupportedContent {
	position: absolute;
	bottom: 0;
}*/
#main-nav .dropdown-toggle {
	padding: 0;
}
#main-nav .dropdown-menu {
	margin: 0;
	border: none;
	border-radius: 0px;
	background-color: #ec894d;
	width: 80%;
}
#main-nav .dropdown-menu a {
	color: #e7eff7
}
#main-nav .dropdown-menu a:hover {
	color: #ec894d;
}
#main-nav .nav-item:hover, #main-nav .active {
	background-color: #ec894d;
}
#main-nav .nav-item:hover > a, #main-nav .active > a {
	color: #fff;
}
.navbar-toggler-icon {
	color: #e7eff7;
}

.phone-number {
	background-color: #4dc7ec;
	color: #e7eff7;
	/*padding: .5rem 1rem;*/
	padding: 0;
	letter-spacing: .05em;
	padding-right: 1rem;
}
.phone-number .phone-icon {
	padding: .5rem 1rem;
	display: inline-block;
	background-color: #37b3d9;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/*search form*/
.search-wrapper {
	padding-top: 15px;
}
#search {
	/*position: relative;*/
	padding-bottom: 15px;
	border-bottom: solid 1px #dedede;
}
.search-head {
	background-color: #394041;
	color: #dedee0;
	min-height: 50px;
	line-height: 50px;
	font-size: 21px;
	padding-left: 0;
	/*position: absolute;
	top: -65px;*/
}
.search-icon {
	display: inline-block;
	height: 100%;
	padding: 0 15px;
	background-color: #252a2b;
}
.search-btn {
	width: 100%;
	background-color: #ec894d;
	border: none;
	margin-top: 32px;
}
.search-btn:hover {
	background-color: #e3712c;
}

/*Footer*/
#footer-wrapper {
	background-image: url(../images/footer.png);
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 245px;
}
.footer h6 {
	text-transform: uppercase;
	/*text-align: center;*/
}

/*responsive*/
@media only screen and (min-width: 1200px) {
  #navbarSupportedContent {
		position: absolute;
		bottom: 0;
	}
}

@media only screen and (min-width: 991px) {
	.dropdown-toggle::after {
		content: none;
	}
	#search {
		position: relative;
	}
	.search-head {
		position: absolute;
		top: -65px;
	}
}

@media only screen and (max-width: 990px) {
	#main-nav .nav-link {
		display: inline-block;
	}
	#main-nav .nav-item {
		padding: .3rem 1.5rem;
	}
	#main-nav .phone-number {
		padding: 0;
	}
	#main-nav .dropdown-toggle {
		float: right;
	}
	.search-wrapper {
		padding-top: 0;
	}
	.search-head {
		margin-bottom: 15px;
	}
	.search-btn {
		margin-top: 0;
	}
}

@media only screen and (max-width: 540px) {
	.product-box figure {
		padding: 0;
	}
	.product-box figure .col-sm {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
}