/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2018, 3:01:32 PM
    Author     : DungLe
*/
.breadcrumb{
    background: none;
}
.breadcrumb .breadcrumb-item a{
    color: #6c757d;
}
.nav-tabs a{
    color: #6c757d;
}

.product-item{
    padding: 15px;
}
.product-box-content{
    border: solid 1px #ddd;
    padding: 20px 0px 0px 0px;
}
.product-box-content h3{
    padding: 0 15px;
}
.product-box-content figure{
    padding: 0 15px;
}
.product-container{
    float: left;
    width: 100%;
}
.product-container .slider-nav img{
    width: 100%;
}
.product-container .slick-slide img{
    margin: 0 auto;
}
/* Slick Gallery */


/* DesoSlide Gallery */
#slideshow_thumbs{
    margin-top: 20px;
}
#slideshow_thumbs li{
    display: inline-block;
}
#slideshow_thumbs img{
    width: 100px;
}
#slideshow img{
    width: 100%;
    min-height: 100%;
}
.right-column .basic-info ul{
    padding: 0;
}
.right-column .basic-info li{
    list-style-type: none;
}
.right-column .social{
    padding: 0;
}
.right-column .social li{
    display: inline-block;
    list-style-type: none;
    color: #333;
    font-size: 32px;
    padding-right: 20px;
    cursor: pointer;
}
.right-column .social li a{
    color: #333;
    font-size: 32px;
}

